fiebre {

position: absolute;
width: 46px;
height: 46px;
left: 72px;
top: 485px;
}


 Group {

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
 }


Vector {

position: absolute;
left: 76.86%;
right: 0%;
top: 12.19%;
bottom: 34.15%;

background: #DF3034;
}

 Vector {

position: absolute;
left: 84.4%;
right: 8.05%;
top: 28.1%;
bottom: 38.12%;

background: #DF3034;
}

Vector {

position: absolute;
left: 78.75%;
right: 2.74%;
top: 43.99%;
bottom: 36.49%;

background: #DF3034;
}

 Group {

position: absolute;
left: 0%;
right: 0.51%;
top: 0%;
bottom: 0%;
}


 Vector {

position: absolute;
left: 25.45%;
right: 32.9%;
top: 63.41%;
bottom: 21.95%;

background: #DF3034;
}

 Vector {

position: absolute;
left: 0%;
right: 9.5%;
top: 2.44%;
bottom: 0%;

background: #DF3034;
}

 Vector {

position: absolute;
left: 20.82%;
right: 65.29%;
top: 36.59%;
bottom: 53.66%;

background: #DF3034;

 }
Vector {

position: absolute;
left: 57.84%;
right: 28.28%;
top: 36.59%;
bottom: 53.66%;

background: #DF3034;
}

Vector {

position: absolute;
left: 76.35%;
right: 16.71%;
top: 4.88%;
bottom: 87.8%;

background: #DF3034;
}

 Vector {

position: absolute;
left: 85.6%;
right: 9.77%;
top: 0%;
bottom: 90.24%;

background: #DF3034;

 }
 Vector {

position: absolute;
left: 92.55%;
right: 0.51%;
top: 4.88%;
bottom: 87.8%;

background: #DF3034;
 }

 Vector {

position: absolute;
left: 15.26%;
right: 62.04%;
top: 56.31%;
bottom: 29.48%;

background: #DF3034;
 }
Vector { 

position: absolute;
left: 11.74%;
right: 79%;
top: 53.84%;
bottom: 36.4%;

background: #DF3034;
}



