 niño  {

position: absolute;
width: 50px;
height: 44.1px;
left: 62px;
top: 684px;

}

 Group  {

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

}

🦆 icon Baby {

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

}

 Group {

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

}

 Vector {

position: absolute;
left: 65.51%;
right: 0%;
top: 0%;
bottom: 48.72%;

background: #DF3034;

}

 Vector {

position: absolute;
left: 43.96%;
right: 0%;
top: 48.72%;
bottom: 0%;

background: #DF3034;

}

Vector {

position: absolute;
left: 0%;
right: 58.18%;
top: 57.8%;
bottom: 0%;

background: #DF3034;
}